<div class="p-4 w-full h-full flex flex-col items-center justify-center text-center">
  <p class="text-gray-500 font-medium text-lg">最后刷新时间</p>
  <p class="text-2xl font-bold mt-2"><%= time %></p>
</div>
